<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1091907840995-3bf39plil3j816et6st18kpf90tn6hom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091907840995-3bf39plil3j816et6st18kpf90tn6hom</string>
	<key>API_KEY</key>
	<string>AIzaSyBkLYl7tVqgP0-r0A5eH3Mo2UuyCzJ1icM</string>
	<key>GCM_SENDER_ID</key>
	<string>1091907840995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rajat.TextFire</string>
	<key>PROJECT_ID</key>
	<string>textfire-a94b3</string>
	<key>STORAGE_BUCKET</key>
	<string>textfire-a94b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091907840995:ios:cc743edec7506e3d</string>
	<key>DATABASE_URL</key>
	<string>https://textfire-a94b3.firebaseio.com</string>
</dict>
</plist>